//
//  ApiKeys.xcconfig
//  SupportersAnchor
//
//  Created by 최준현 on 12/14/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
   API_KEY = 5a037acc15msh4cbb6c53e88088bp11fc3ejsn93a49e9e121c
   NEWS_API_KEY = 05b92e0c25c54358b390f57aef4caf63
